:root {
  --widthX: 25vw;
  --margin-x-content: 2.5vw;
  --margin-y-content: 5vh;
  --dark-gray: #535557;
  --middle-gray: #6C6E70;
  --light-gray: #B5B9BD;
  --gray-black: #3a3a3a;
  --principal-font: 'Space Grotesk', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-font-size: 22px;
  --base-font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
.bottom-label {
  color: var(--gray-black);
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+");
}

.together {
  display: flex;
  gap: var(--margin-x-content);
}

.top-label,
.bottom-label {
  position: fixed;
  left: var(--margin-x-content);
  font-size: var(--base-font-size);
  font-family: var(--principal-font);
}

.top-label,
.bottom-label,
.mark {
  z-index: 10;
}

.top-label {
  top: var(--margin-y-content);
  transition: all ease-out 500ms;
}

.bottom-label {
  bottom: var(--margin-y-content);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;
}

.mark {
  fill: var(--dark-gray);
  stroke: var(--middle-gray);
  outline: 1px white;
  padding-left: var(--margin-x-content);
  mix-blend-mode: color-burn;
  margin-top: 45vh;
  position: sticky;
  top: 2vh;
  width: 60vw;
  height: 110vh;
}

.presentation {
  mix-blend-mode: multiply;
  width: 30vw;
  position: absolute;
  left: 65vw;
  top: 50vh;
}

.presentation img {
  width: 100%;
}

.works-header {
  padding: var(--margin-y-content) var(--margin-x-content);
  margin-bottom: var(--margin-y-content);
  position: sticky;
  z-index: 10;
  top: 40vh;
  display: flex;
}

.works-header h2 {
  font-size: var(--base-font-size);
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--gray-black);
}

.works-info {
  margin-left: 24px;
}

.works-info p {
  font-size: var(--base-font-size);
  font-family: var(--secondary-font);
  line-height: 1.4em;
  color: var(--dark-gray);
  width: 60ch;
  margin-bottom: 2vh;
}

.main {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 11;
}

.main section {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.main section img {
  max-height: 60vh;
  max-width: 90%;
}

.thanks {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
