:root {
    --title-font-size: 22px;
    --base-font-size: 10px;
}

.empty-space-box {
    min-width: 220vh;
}

.presentation {
    width: 90%;
    transform: rotate(-20deg);
    left: 5%;
}

.mark {
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    height: 48vh;
    padding-left: 0;
}

a {
    text-decoration: initial;
}   

.top-label, 
.bottom-label {
    width: 100%;
    text-align: center;
    left: 0;
}

.works-header {
    padding-top: 8vh;
}

.main .first,
#doctor .third {
    min-width: 80vw;
}

.first, 
.second, 
.third, 
.four, 
#fast .zero, 
#deals .zero, 
#deals .first, 
#solem .zero, 
#solem .first {
    margin: 11vh 0;
    height: 78vh;
}

.main .second, 
.main .four {
    min-width: 150vw;
} 

.thanks .top {
    margin-left: auto;
    top: 12vh;
    width: 35vw;
    height: auto;
}

.thanks .down {
    display: block;
    margin: 30vh auto;
}